
body
{
	margin: 0;
	padding: 0;
	line-height: 16px;
	font: 75%/1em Arial, Helvetica, sans-serif,'ו';
    background:url(../images/login_bg.jpg) repeat;
    position:relative;
    height:100%
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blocktrack, th, td
{
	margin: 0;
	padding: 0;
}
a {color:#2366A8;hide-focus: expression( this.hideFocus=true );outline: none; text-decoration:none;}
a:hover, a:active, a:focus {text-decoration:none;}
img {
    border-width:0;
}
form
{
	margin: 0;
	padding: 0;
}
.clear
{
	clear: both;
}

#login_top
{
    margin:60px 0 50px 75px;
}
#login_bottom
{
    position:fixed;
    bottom:0;
    background:#002f4d;
	color: #fff;
    height:90px;
    line-height:90px;
    text-align:center;
    width:100%;
}
#login_bottom a
{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}
.login_btn
{
	width: 106px;
	height: 37px;
	cursor: pointer;
    background: url(../images/login_btn.jpg) no-repeat;
    border:none;
    margin:25px 0 0 -30px;
}
#login
{
    position:relative;
	width: 587px;
	height: 182px;
	margin: 0 auto;
    background: url(../images/logo_panel1.jpg) no-repeat;
    padding:155px 0 160px 375px;
}
.login_txt 
{
    width:295px;
    height:30px;
    line-height:32px;
    border:1px solid #d9e6f0;
    background-color:#d9e6f0;
    font-size:16px;
    color:#666;
}
.login_txt_input
{
    width:295px;
    height:30px;
    line-height:32px;
    border:1px solid #d9e6f0;
    background-color:#d9e6f0;
    font-size:16px;
    color:#000;
}
.login_txt_over
{
    width:295px;
    height:30px;
    line-height:32px;
    border:1px solid #d9e6f0;
    background-color:#d9e6f0;
    font-size:16px;
    color:#acaeb0;
}
.login_txt_over_input
{
    width:295px;
    height:30px;
    line-height:32px;
    border:1px solid #d9e6f0;
    background-color:#d9e6f0;
    font-size:16px;
    color:#000;
}
.login_txt_focus
{
    width:295px;
    height:30px;
    line-height:32px;
    border:1px solid #d9e6f0;
    background-color:#d9e6f0;
    font-size:16px;
    color:#acaeb0;
}
.login_txt_focus_input
{
    width:295px;
    height:30px;
    line-height:32px;
    border:1px solid #d9e6f0;
    background-color:#d9e6f0;
    font-size:16px;
    color:#000;
}
.login_msg {
    color:#afafb1;
    display:block;
    margin-top:-20px;
    font-size:16px;
}
#login p {
    margin-bottom:13px;
}
.check_img {
    float:left;
    margin-left:10px;
    width:197px;
}
.xybz {
    float:right;
    margin-top:20px;
}
.msg
{
	width: 800px;
	height: 160px;
	margin: 0 auto 0 auto;
	margin-top: 40px;
	border-right: 1px solid #ccc;
	padding-right:20px;
}
.msg h5
{
	padding:12px 0 0 10px;
	font-size: 24px;
	font-weight: bold;
	color: #808080;
	line-height:100%;
}
.msg p
{
	padding: 27px 8px 0 15px;
	line-height: 160%;
	color: #333;
}
.bottom
{
	width: 800px;
	margin: 0 auto 0 auto;
	margin-top: 120px;
	text-align: center;
	line-height: 160%;
	color: #4d4d4d;
}
.bottom a
{
	color: #2366A8;
	text-decoration: none;
	font-weight: bold;
}
#login_panel
{
	width: 962px;
	height: 700px;
	margin: 0 auto;
    background: url(../images/logo_panel1.jpg) no-repeat;
	font-family:Microsoft YaHei;
}
#swich_site
{
	width:450px;
    min-height:345px;
	background-color:#fff;
	padding:20px 15px;
	border:1px solid #959aa0;
	border-radius:6px;
	box-shadow:0 0 16px #8a939c;
	margin:0 auto;
}
#swich_site_tit
{
	padding:15px;
	padding-top:0;
	border-bottom:1px dashed #dbdbdb;
	color:#666;
}
#swich_site_tit h1
{
	font-size:22px;
	color:#0086c8;
	line-height:180%;
	font-weight:normal;
	
}
.swich
{
	padding:18px 15px;
	border-bottom:1px dashed #dbdbdb;
	font-size:18px;
}
.swich a
{
	color:#424242;	
}
.more
{
	float:right;	
}
.swich .more
{
	margin:-4px 0 0 10px;	
}
.swich_new
{
	padding:24px 15px 8px 15px;
	font-size:18px;	
}
.swich_new a
{
	color:#019f55;	
}
.swich a:hover
{
	color:#019f55;	
}
input.txt[type="text"], input.txt[type="password"], input.txt[type="email"], textarea.txt {
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    box-shadow: none;
    display: block;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    outline: 0 none;
    padding: 8px 12px;
    width: 220px;
}
input.txt[type="text"]:focus, input.txt[type="password"]:focus, textarea.txt:focus{
	border-color:#006499;
	box-shadow:0 1px rgba(34, 25, 25, 0.15) inset, 0 1px rgba(255, 255, 255, 0.8), 0 0 14px rgba(82, 162, 235, 0.35);
}
input.error[type="text"], input.error[type="password"], input.error[type="email"], textarea.error {
    border: 1px solid #CC2211;
    box-shadow: 0 0 10px rgba(204, 34, 17, 0.3) inset;
}
input[type="text"].error:focus{
	border: 1px solid #CC2211;
    box-shadow: 0 0 10px rgba(204, 34, 17, 0.3);
}
#swich_setting
{
	width:880px;
	min-height:590px;
	background-color:#fff;
	padding:30px 40px;
	border:1px solid #959aa0;
	border-radius:3px 3px 3px 3px;
	box-shadow:0 0 16px #8a939c;
	margin:0 auto;
}
#swich_setting_tit
{
	border-bottom:1px dashed #dbdbdb;
	padding-left:15px;
	font-size:13px;
}
#swich_setting_tit td
{
	padding:0 24px 20px 0;	
}
#swich_setting_tit h1
{
	font-size:20px;
	color:#606060;
	line-height:180%;
	font-weight:normal;	
}
.template_top
{
	margin:20px 0;
}
.template_small
{
	width:105px;
	height:130px;
	background-color:#c0c0c0;
	float:left;
	padding:6px;
	border-radius: 5px 5px 5px 5px;
	margin:0 14px 15px 15px;
    cursor:pointer;
}
.template_small img
{
	width:105px;
	height:105px;
	border-radius: 5px 5px 5px 5px;
	cursor:pointer;
}
.template_small a
{
	width:100%;
	height:16px;
	display:block;
	overflow:hidden;
	margin-top:6px;	
}
.template_small:hover, .t_hover
{
	background:url(../images/icon_selected.gif) 85px 120px no-repeat;
	background-color:#9bcc4f;
    cursor:pointer;	
}
.template_small:hover a, .t_hover a
{
	color:#027f47;	
}
.swich_setting_control
{
	margin:15px 0 0 15px;	
}
.swich_setting_control a:hover
{
	text-decoration:underline;
}
.btn_save
{
	height:28px;
	width:60px;
	color:#fff;
	font-size:14px;
	background:url(../images/btn_save.jpg) repeat-x;
	border:1px solid #439830;
	cursor:pointer;
}

.browser {
width:670px;
overflow:hidden;
clear:both;
margin:20px auto;
font-family:Microsoft YaHei;
font-size:16px;
line-height:150%;
}
.browser h2 {
font-size:22px;
line-height:120%;

font-weight:normal;
}
.browser p {
margin-top:15px;
}
    .browser ul {
    margin-top:60px;
    }
    .browser ul li {
    float:left;
    margin:0 30px;
    list-style:none;
    text-align:center;
    width:100px;
    
    }
        .browser ul li a {
        padding-top:130px;
        display:block;
        }
.ie {
    background:url(../images/ie.png) 0 13px no-repeat;
}
.chrome {
    background:url(../images/chrome.png) 0 13px no-repeat;
}
.firefox {
    background:url(../images/firefox.png) 0 13px no-repeat;
}
.safari {
    background:url(../images/safari.png) top center no-repeat;
}






#login #dhk{position:absolute; width:260px; height:33px; line-height:33px; background:url(../images/dhk_bg.gif);left:65px; top:245px; text-indent:10px;color:#fff; font-family:'Microsoft YaHei'; font-size:12px;}