<?xml version="1.0" encoding="UTF-8"?>

<beans default-autowire="byName" xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"	
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/aop 
   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
   http://www.springframework.org/schema/tx
   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
   http://www.springframework.org/schema/jee
   http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">
		
	<!-- 以下配置Action、Services、Dao -->
	
	<bean id="platformUserDao" class="com.yidatec.weixin.dao.sysmgr.PlatformUserDao" />
	<bean id="platformUserService" class="com.yidatec.weixin.service.sysmgr.PlatformUserService" />
	<bean id="platformUserMgr" class="com.yidatec.weixin.action.sysmgr.PlatformUserManageAction" scope="prototype" />

	<bean id="roleAuthsDao" class="com.yidatec.weixin.dao.sysmgr.RoleAuthsDao" />
	<bean id="roleAuthsManageService" class="com.yidatec.weixin.service.sysmgr.RoleAuthsManageService" />
	<bean id="roleAuthsMgr" class="com.yidatec.weixin.action.sysmgr.RoleAuthsManageAction" scope="prototype" />
	
	<bean id="resourceDao" class="com.yidatec.weixin.dao.sysmgr.ResourceDao" />
	<bean id="resourceService" class="com.yidatec.weixin.service.sysmgr.ResourceService" />
	<bean id="resourceMgr" class="com.yidatec.weixin.action.sysmgr.ResourceManageAction" scope="prototype" />
	
	<bean id="statisticsDao" class="com.yidatec.weixin.dao.StatisticsDao" />
	<bean id="statisticsService" class="com.yidatec.weixin.service.StatisticsService" />
	<bean id="statistics" class="com.yidatec.weixin.action.StatisticsAction" scope="prototype" />
		
</beans> 
